.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
  text-align: center;
}

.title {
  color: #d8dadc;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 16px;
  margin-top: 64px;
}

.title input {
  text-align: center;
  color: #d8dadc;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  width: 64px;
  height: 64px;
  left: 20px;
  top: 13px;

  box-sizing: border-box;
  margin: 4px;
  background-color: black;
  border: 2px solid #3a3a3c;
  caret-color: transparent;
}

.title input:focus {
  outline: none;
}
